@use "../style/utils/variable" as variable;


body {
    background-image: url(https://thumbs.dreamstime.com/b/renewable-energy-concept-earth-day-environment-protection-hands-protect-forests-grow-ground-help-save-world-167178129.jpg);
    background-repeat: no-repeat;
}

#weather-app {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {

        .card {
            width: 90%;
            max-width: 400px;
            background: linear-gradient(135deg, #00feba, #5b548a);
            color: variable.$whiteColor;
            margin: 7% auto 0;
            border-radius: 20px;
            padding: 40px 35px;
            text-align: center;

            .search {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    border: 0;
                    outline: 0;
                    background: variable.$whiteColor;
                    color: variable.$blackColor;
                    padding: 10px 25px;
                    height: 50px;
                    border-radius: 25px;
                    flex: 1;
                    margin-right: 16px;
                    font-size: 18px;
                }

                button {
                    border: 0;
                    outline: 0;
                    background: variable.$whiteColor;
                    border-radius: 50px;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        background-color: variable.$blackColor;
                        color: variable.$whiteColor;
                    }
                }
            }

            .weather {

                .weather-icon {
                    width: 170px;
                    margin-top: 2%;
                }

                .city-text,
                .wind-text {
                    line-height: 1px;

                    h1 {
                        font-size: 80px;
                        font-weight: 500;
                    }

                    h2 {
                        font-size: 45px;
                        font-weight: 400;
                        margin-top: -10px;
                    }
                }

                .details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 50px;

                    .col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        img {
                            width: 40px;
                            margin-right: 10px;
                        }

                        .humidity-text,
                        .wind-text {
                            line-height: 1px;
                            margin-top: 25%;
                        }

                        .humidity,
                        .wind {
                            font-size: 28px;
                            margin-top: -6px;
                        }
                    }
                }
            }
        }
    }
}